@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
 box-sizing: border-box;
}

body {

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100vh;
 overflow: hidden;
 margin: 0;
 background-position: center center;
 background-size: cover;
 
}